exportPattern("^[[:alpha:]]+")
importFrom("graphics", "abline", "boxplot.matrix", "par",
             "plot.default", "rect")
importFrom("stats", "lm", "pchisq", "residuals")
importFrom("lattice", "levelplot")
S3method(print, rkhist)
S3method(plot, rkhist)
S3method(flatness_indices, matrix)
S3method(flatness_indices, default)
S3method(graphics::boxplot, rkhist)
S3method(rkhist, default)
S3method(rkhist, matrix)
S3method(rkhist, data.frame)
S3method(rkhist, list)
S3method(print, JPtest)
S3method(lattice::levelplot, JPtest)
